
.task-count {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 3px;
}

.task-image {
    height: 14px;
}

.task-image-stacked {
    height: 7px;
}

.task-image-stacked-container {
    text-align: center;
}
