
.task-count {
    font-size: 42px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 7px;
}

.task-image {
    height: 40px;
}

.task-image-stacked {
    height: 20px;
}

.task-image-stacked-container {
    text-align: center;
}
