node_modules
dist
out
*.vsix
*.vscode-test
*.buildinfo
coverage
.nyc_output
install_extensions.bat
res/release-notes.html
types/lib
types/types
tsconfig.tsbuildinfo
.dccache
/res/**/home.*
/res/css
/res/js
/res/page
