.*
.github/**
.vscode-test/**
.vscode/**
**/*.map
**/*.ts
coverage/**
coverconfig.json
jsconfig.json
out/test/**
out/tools/**
out/**/*.map
package-lock.json
src/**
test/**
tsconfig.json
tslint.json
vsc-extension-quickstart.md
azurepipelines.yml
codecov.yml
.prettier*
*.vsix
test-reports
