.*
**/.github
**/.nyc_output
**/.vscode
**/.vscode-test
**/coverage
**/node_modules
**/*.map
**/*.ts
dist/test/**
dist/**/*.map
**/src
**/test/**
coverage
test-files
*.yml
*.vsix
*.sh
package-lock.json
tsconfig.json
tslint.json
webpack.config.*
