.*
**/.github
**/.nyc_output
**/.vscode
**/.vscode-test
**/coverage
**/*.map
**/*.ts
dist/test/**
dist/**/*.map
out/test/**
out/**/*.map
src
**/test/**
coverage
.coverage
test-fixture
testFixture
*.yml
*.vsix
*.sh
package-lock.json
tsconfig.json
tsconfig.*.json
tslint.json
webpack.config.*
node_modules
script
types
