
button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 8px 12px;
}

button:hover {
    opacity: 0.8;
    background-color: var(--vscode-button-hoverBackground);
}

.shadow-title {
    text-align: center;
    color: #4286f4;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.shadow-title-2 {
    text-align: center;
    color: #092a5e;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.centered {
    text-align: center;
}

.container {
    padding: 16px 0;
    text-align: left;
}

.task-count {
    font-size: 46px;
    padding-left: 10px;
}
