
button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 8px 12px;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
}

.task-count-value { 
	opacity: 0.885;
    line-height: 15px;
    font-size: 32px;
}
