
.parsing-report-projects {
    color: var(--vscode-foreground);
    font-weight: bold;
    font-size: 14px;
    padding-top: 7px;
}

.parsing-report-projects-title {
    color: var(--vscode-button-background);
    font-weight: bold;
    font-size: 24px;
    padding-right: 10px;
}

.task-count {
    font-size: 42px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 7px;
}

.task-image {
    height: 40px;
}

.task-image-stacked {
    height: 20px;
}

.task-image-stacked-container {
    text-align: center;
}

.task-count-value { 
	opacity: 0.885;
}
