:root {
	--container-padding: 2px 5px 2px 2px;
	--input-padding-vertical: 3px;
	--input-padding-horizontal: 2px;
	--input-margin-vertical: 2px;
	--input-margin-horizontal: 0;
}

button {
    /* background-color: var(--vscode-button-background); */
    background-color: var(--vscode-background);
    /* color: var(--vscode-button-foreground); */
    color: var(--vscode-foreground);
    padding: 4px 2px;
    cursor: pointer;
    width: -webkit-fill-available;
    font-size: 10px;
    border-radius: 3px;
    margin-right: 5px;
    border: gray 1px solid;
    background: -webkit-linear-gradient(bottom, #000000, #222222, #696767, #222222, #000000);
}
/*
button:hover {
	cursor: pointer;
	background: var(--vscode-background--50);
}
*/
.te-icon {
    height: 46px;
}

.homeview-info-panel {
    min-width: 170px;
    max-width: 190px;
    padding-right: 5px;
    display: inline-block;
}

.button-panel {
    width: -webkit-fill-available;
    align-content:stretch;
}

.margin-top-3 {
    margin-top: 3px;
    width: inherit;
}

.margin-top-5 {
    margin-top: 5px;
    width: inherit;
}

.margin-top-minus-5 {
    margin-top: -3px;
    width: inherit;
}

.homeview-content-title {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    text-align: left;
    color: var(--vscode-button-background);
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 2px 1px #777, 1px 1px 0px #666, 0px 2px 0px #555, 1px 2px 0px #444, 0px 2px 0px #333, 0px 3px 1px #001135;
  }

.homeview-content-title-version {
    font-size: 10px;
    font-weight: normal;
    text-align: end;
    margin-top: 3px;
    margin-left: 22px;
    opacity: 0.95;
    vertical-align: bottom;
}

.homeview-task-count-label {
    
	opacity: 0.95;
}

.homeview-task-count-value {
    
	opacity: 0.725;
}

.homeview-license-status {
    border: gray 1px solid;
    text-align: center;
    opacity: .92;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 var(--vscode-background) inset;
    background: var(--vscode-background);
    /* background: -webkit-linear-gradient(bottom, #000000, #222222, #696767, #222222, #000000); */
}

.homeview-license-status-label {
    text-align: left;
    background: var(--vscode-background);
    padding-right: 6px;
}

.homeview-license-status-container {
    padding: 0px;
}

.homeview-button-container {
    width: -webkit-fill-available;
    align-content: flex-end;
    display: inline-block;
}
