
#releaseNotesDiv {
    transform: scaleY(0);
    transition: transform 400ms ease 0ms;
}

#releaseNotesDiv.is-show {
    transform: scaleY(1);
    transition: transform 400ms ease 0ms;
}

.change-log-container {
    color: var(--vscode-foreground);
    padding-top: 13px;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
}

.change-log-title {
    color: var(--vscode-foreground);
}

.toggle-button-svg {
    background: var(--vscode-button-background);
}

.toggle-button-svg:hover {
    background: var(--vscode-button-hoverBackground);
}

.toggle-button {
    cursor: pointer;
    height: 18px;
    margin-top: 6px;
    background: var(--vscode-button-background);
    content: url( '../img/webview/chevron-up.svg');
    mask-image: url( '../img/webview/chevron-up.svg');
    -webkit-mask-image: url( '../img/webview/chevron-up.svg');
}

.toggle-button.is-show  {
    content: url( '../img/webview/chevron-down.svg');
    mask-image: url( '../img/webview/chevron-down.svg');
    -webkit-mask-image: url( '../img/webview/chevron-down.svg');
}

.toggle-button:hover {
    background: var(--vscode-button-hoverBackground);
}

div.full-release-notes-container {
    margin:5px;
    padding:5px;
    background-color: var(--vscode-background);
    height: 500px;
    overflow: auto;
    text-align:justify;
}
