
#releaseNotesDiv {
    transform: scaleY(0);
    transition: transform 400ms ease 0ms;
}

#releaseNotesDiv.is-show {
    transform: scaleY(1);
    transition: transform 400ms ease 0ms;
}

.change-log-container {
    color: var(--vscode-foreground);
    padding-top: 13px;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
}

.change-log-title {
    color: var(--vscode-foreground);
}

.toggle-button {
    cursor: pointer;
}

.toggle-button:hover {
    color: var(--vscode-button-hoverBackground);
}

div.full-release-notes-container {
    margin:5px;
    padding:5px;
    background-color: var(--vscode-background);
    height: 500px;
    overflow: auto;
    text-align:justify;
}
